Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [ ]:
a_str = "pwskills"
a_list = [1,2,3,"pwskills",23.33,True]
a_float = 23.44
a_tuple = (2,3)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [9]:
var1 = ' '
print("var1 is of type ",type(var1))
var2 = '[ DS , ML , Python]'
print("var2 is of type ",type(var2))
var3 = ['DS' , 'ML' , 'Python']
print("var3 is of type ",type(var3))
var4 = 1
print("var4 is of type ",type(var4))

var1 is of type  <class 'str'>
var2 is of type  <class 'str'>
var3 is of type  <class 'list'>
var4 is of type  <class 'int'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [19]:
# / is a arithmetic operator knon as divison and is used for to divide one operand with another.
print("Dividing 20 by 5 gives", 20/5)
# % is a arithmetic operator known as modulus amd gives the remainder when one operand is divided with another.
print("Dividing 20 by 6 gives remainder of ", 20%6)
# // is a arithmetic operator amd gives the floor value when one operand is divided with another.
print("Dividing 20 by 6 gives floor value of ", 20//6)
# ** is a arithmetic operator knoown as exponent amd gives the resut value when one operand is raised to power of second operand.
print("2 raise to power 3 will be ", 2**3)

Dividing 20 by 5 gives 4.0
Dividing 20 by 6 gives remainder of  2
Dividing 20 by 6 gives floor value of  3
2 raise to power 3 will be  8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [21]:
m_list = [1,2,3,"pwskills",23.33,True,24+4j,"python","data science",False]
for m in m_list:
    print(m, "is of type ",type(m))

1 is of type  <class 'int'>
2 is of type  <class 'int'>
3 is of type  <class 'int'>
pwskills is of type  <class 'str'>
23.33 is of type  <class 'float'>
True is of type  <class 'bool'>
(24+4j) is of type  <class 'complex'>
python is of type  <class 'str'>
data science is of type  <class 'str'>
False is of type  <class 'bool'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [23]:
a = 150
b = 6
a/b

25.0

In [16]:
A = 492
B = 6
result = 0
if A % B == 0:
    while A > 1:
        A = A / B
        result = result + 1
    print("Number A is purely divisible by number B and is ",(result-1), "times divisible")
else:
    print("Number A is not purely divisible by number B")

Number A is purely divisible by number B and is  3 times divisible

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [19]:
n_list = [x for x in range(25)]
for n in n_list:
    if n %3 ==0 :
        print(n, "is divisble by 3")
    else:
         print(n, "is not divisble by 3")

0 is divisble by 3
1 is not divisble by 3
2 is not divisble by 3
3 is divisble by 3
4 is not divisble by 3
5 is not divisble by 3
6 is divisble by 3
7 is not divisble by 3
8 is not divisble by 3
9 is divisble by 3
10 is not divisble by 3
11 is not divisble by 3
12 is divisble by 3
13 is not divisble by 3
14 is not divisble by 3
15 is divisble by 3
16 is not divisble by 3
17 is not divisble by 3
18 is divisble by 3
19 is not divisble by 3
20 is not divisble by 3
21 is divisble by 3
22 is not divisble by 3
23 is not divisble by 3
24 is divisble by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Mutable datatypes are the datatypes that allows you to change its value without changing its identity like list, dictionary
Immutable datatypes are the datatypes that do allows you to change its value like string, integer

In [21]:
#Mutable Example
l1 = [1,2,3,4,5]
print(l1)
l1[0] = 5
print(l1)

[1, 2, 3, 4, 5]
[5, 2, 3, 4, 5]

#Immutable Example
s = "pwskills"
s[0] ="a" 
Above will give an error 'str' object does not support item assignment as its immutable.